.origin-container{display: flex;}
.filtered-recipe{
    img{ height: 10vw;
        width: 10vw;
    border-radius: 1vw;}
   
}
.recipes-container_hr {
    background-color: #202334;
    height: 40px;
    border: none;
    margin-top: 1vw;
    margin-bottom: 1vw;

}
.filtered-container_recipe-name{
    text-align: center;

}
.filtered-container{
    display: flex;
    justify-content: space-evenly;
}
.origin_element-container{
    justify-content: space-evenly;

    .filtered-image{
        height: 20vw;
        border-radius: 0vw;
        width: 20vw;
    }

    img {
        width: 7vw;
        height: 7vw;
        border-radius: 100%;
        margin: 2vw;
        margin-bottom: 0vw;
    }

    h4 {
        margin-left: 4vw;
    }
}

.filtered-recipes {
    display: flex;


}

.filter-origin {
    display: flex;
}