.recipedetails-container{
    text-align: center;
    img{
        height: 40vw;
        width: 40vw;
    }
    .ingredients-container{
        text-align: start;
        display: flex;
        transform: translate(42vw,0vw);
        /* background: linear-gradient(45deg, red,white);   */
    width: 40vw;  }
    .instructions-container{

     text-align: start;
     font-size: 1.7vw;
       
       
         }
        
         .information-container{
            display: flex;
                    background: linear-gradient(45deg, red,white);  
                    justify-content: space-around;


            
         }
        
         .delete{
            background-color: red;
            color: white;
            margin: 1vw;
            padding: 1vw 2.5vw;
            border:none;
            border-radius: 1.5vw;
            
        }
        .edit{
            background-color: blue;
            color: white;
            margin: 1vw;
            padding: 1vw 2.5vw;
            border:none;
            border-radius: 1.5vw;
        }
        .deleteConfirmation{
            background: rgba( 255, 255, 255, 0.35 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 14px );
            -webkit-backdrop-filter: blur( 14px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            height: 15vw;
            border-radius: 1vw;
            transform: translate(0vw,-10vw);
        }
        .yes{
            background-color: green;
            transform: translate(1vw,1vw);
        }
        .no{
            background-color: red;
            transform: translate(0vw,1vw);
    
        }
       ul{
        transform: translate(-40vw,0vw);
       }
       h3{}
    /* transform: translate(3vw,3vw); */
}