.recipe-of-the-day,
.recipe-list,
.latest-recipes,
.check-us-out,
.brief-summary {
    margin: 20px;
}

.brief-summary {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.brief-summary-para, .recipe-of-the-day h3, .check-us-out h3 {
    margin-right: 20px;
    text-align: center;
}

.recipe-of-the-day-container_img-container, .brief-summary_img-container {
    border-radius: 15%;
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    position: relative;
}

.recipe-of-the-day-container_img-container img, .brief-summary_img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.home-container hr {
    background-color: #202334;
    height: 40px;
    border: none;
    margin: 0px;
}

.recipe-of-the-day-container {
    display: grid;
    grid-template: auto auto / auto auto;
}

.recipe-of-the-day-container h2 {
    grid-column: 1;
    grid-row: 1;
    margin-right: 20px;
}

.recipe-of-the-day-container_img-container {
    grid-column: 1;
    grid-row: 2;
}

.recipe-of-the-day-container_info {
    grid-column: 2;
    grid-row: 2;
    margin-left: 20px;
    position: relative;
}

.recipe-of-the-day-container_info a {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-size: 16px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.recipe-of-the-day-container_info a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: #C67E10;
    transition: width 0.3s ease, left 0.3s ease;
}

.recipe-of-the-day-container a:hover {
    color: #C67E10;
    font-size: 20px;
}

.recipe-list-container {
    height: min-content;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.recipe-list-container a {
    font-size: 16px;
    padding: 10px;
    transition: transform 0.3s ease;
    display: inline-block;
    text-align: center;
}

.recipe-list-container a:hover {
    transform: scale(1.05);
}


.recipe-list-container h2 {
    text-align: center;
}

.recipe-list-container_img-container {
    border-radius: 15%;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    position: relative;
}

.recipe-list-container_img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.check-us-out-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.1);
}

.icon.facebook {
    background-image: url('/facebook.png');
    background-size: cover;
}

.icon.facebook:hover {
    background-image: url('/facebook-after.png');
}

.icon.instagram {
    background-image: url('/instagram.png');
    background-size: cover;
}

.icon.instagram:hover {
    background-image: url('/instagram-after.png');
    background-size: cover;
}

.icon.tiktok {
    background-image: url('/tik-tok.png');
    background-size: cover;
}

.icon.tiktok:hover {
    background-image: url('/tik-tok-after.png');
    background-size: cover;
}

.icon.twitter {
    background-image: url('/twitter.png');
    background-size: cover;
}

.icon.twitter:hover {
    background-image: url('/twitter-after.png');
    background-size: cover;
}